<div class="flex flex-col min-h-screen max-h-screen">
  <section class="w-full md:w-2/3 min-h-12 p-4 mx-auto">
    <h3 class="font-medium tracking-wider">Chatbot</h3>
  </section>
  <section class="w-full min-h-[530px] md:min-h-[570px] max-h-[515px] px-10 pt-8 flex justify-center border-t-2 border-green-700 overflow-auto">
    <div class="w-full md:w-3/4">
      <% @responses.each do |response| %>
        <% if response.content.present? %>
          <div class="user-message mb-4 flex justify-end">
            <div class="message-box bg-blue-500 text-white p-3 rounded-lg max-w-sm">
              <p class="text-right text-base md:text-lg"><strong><%= @user.name %>:</strong> <%= response.content.presence || "No content" %></p>
            </div>
          </div>
        <% end %>
        <% if response.bot_response.present? %>
          <div class="bot-message mb-4 flex justify-start">
            <div class="message-box bg-gray-200 text-black p-3 rounded-lg max-w-sm">
              <p class="text-left text-base md:text-lg"><strong>Bot:</strong> <%= response.bot_response %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </section>
  <section class="w-full min-h-6 md:min-h-8 mt-3 px-6  flex justify-center">
    <%= form_with model: @response, class: "flex w-full md:w-3/4", url: create_response_path(user_id: @user.id), local: true do |form| %>
      <%= form.text_area :content, rows: 1, id: 'expandableTextarea', class: 'w-full mx-3 min-h-6 md:min-h-8 px-6 py-auto mx-auto border border-zinc-200 text-black bg-zinc-50 rounded-3xl' %>
      <%= button_tag(type: 'submit', class: 'send-button bg-blue-500 text-white p-2 ml-2 rounded-lg flex items-center justify-center') do %>
        <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14M12 5l7 7-7 7"></path>
        </svg>
      <% end %>
    <% end %>
  </section>
</div>

<script>
  const textarea = document.getElementById('expandableTextarea');

  textarea.addEventListener('input', function() {
    this.style.height = 'auto';
    this.style.height = (this.scrollHeight > 120 ? 120 : this.scrollHeight) + 'px';
  });
</script>